
body{
  margin:0;
  font-family:'Poppins', sans-serif;
  background:#ffcce6;
  overflow-x:hidden;
}
.love-bg{
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  pointer-events:none;
  overflow:hidden;
}
.page{display:none; padding:30px;}
.active{display:block;}
.photo-box{
  width:90%; max-width:350px;
  margin:auto; background:white;
  padding:15px; border-radius:15px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
}
button{
  margin-top:20px; padding:10px 20px;
  border:none; border-radius:10px;
  background:#ff66aa; color:white;
  font-size:18px;
}
.gallery img{
  width:80%; max-width:300px;
  margin:10px auto; display:block;
  border-radius:15px;
}
